<div class="hero min-h-screen" style="background-image: url(https://i.postimg.cc/J4dMHsRS/IMG-0329.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-7xl font-bold text-stone-50">Jonathan Ly</h1>
        <p class="mb-5">A Nerdy Front-End Developer in love of TTRPG and Games</p>
      </div>
    </div>
</div>